/* INITIALISATION */

:root {
    --main-color: #00C4DC;
    --dark-color: #002429;
    --font-color: #222735;
}

*:not(ul), :before, :after {
    margin: 0;
    padding: 0;
}

*, :before, :after {
    box-sizing: border-box;
}

body {
    background-color: #ECECEC;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/* ASIDE */

aside {
    background-color: var(--main-color);

    align-items: center;
    justify-content: space-between;

    width: 30%;
    padding: 20px 0;
}

aside img {
    width: 180px;
    margin: 30px auto;

    border-radius: 50%;
    border: 4px solid #00838F;
}

aside section {
    width: 100%;

    color: var(--font-color);
}

aside section h3 {

    width: 100%;
    padding: 7px 0;
    font-size: 1.5em;

    background-color: var(--dark-color);
    color: var(--main-color);
    text-align: center;

    text-transform: uppercase;
}

/* SECTION CONTACT */

aside section#contact address {    
    font-size: .8em;
    font-style: normal;
    font-weight: 600;

    padding: 15px 35px;
}

aside section#contact address div {
    margin: 10px 0;
}

aside section#contact address div a {
    text-decoration: none;
    color: var(--font-color);
}

aside section#contact address div :hover {
    text-decoration: underline;
}

/* SECTION ABOUT */

aside section#about p {
    margin: 35px;

    text-align: justify;

    font-size: .8em;
    letter-spacing: 2px;
    line-height: 25px;
}

/* SECTION HOBBIES */

aside section#hobbies > div {
    margin: 35px 35px 20px 35px;

    font-size: 3em;

    justify-content: space-around;
}

/* HEADER */

main header {
    margin: 90px 0;
}

main header h1 {
    font-weight: 300;
    font-size: 4em;
    text-transform: uppercase;
}

.distinct {
    font-weight: normal;
    color: var(--main-color);
}

main header h4 {
    color: var(--font-color);
    font-size: 1.3em;
    line-height: 30px;
}

main header h4 u {
    text-decoration-color: var(--main-color);
}

/* MAIN CONTENT */

main {
    width: 70%;
    background-color: #fff;

    padding-right: 30px;
    padding-left: 50px;
}

main .section-title {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--main-color);

    color: var(--main-color);
    font-size: 2em;

    align-items: center;
}

main .section-title h3 {
    color: #000000;
    text-transform: uppercase;
    font-size: .8em;

    margin-left: 30px;
}

/* FORMATION  & EXPERIENCE */

#formation .section-content, #experience .section-content {
    color: var(--font-color);
    margin-bottom: 50px;
}

#formation .section-content article, #experience .section-content article {
    margin-top: 30px;
}

#formation .section-content article::before, #experience .section-content article::before {
    content: "\2022";
    color: var(--main-color);
    width: 40px;
    font-size: 2.4em;
    margin-top: -12px;
}

#formation .section-content ul, #experience .section-content ul {
    list-style-type: none;
}

#formation .section-content article div:nth-of-type(1), #experience .section-content article div:nth-of-type(1) {
    width: 40%;
}

#formation .section-content article div:nth-of-type(2), #experience .section-content article div:nth-of-type(2) {
    width: 50%;
}

#formation .section-content h4, #experience .section-content h4 {
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 1.2em;
}

#formation .section-content h5, #experience .section-content h5 {
    margin: 10px 0;
    font-size: 1em;
    font-weight: normal;
}

#formation .section-content p, #experience .section-content p {
    margin-bottom: 10px;
}

/* RECOMMANDATION */

#recommandation .section-title {
    margin-bottom: 30px;
}

#recommandation article {
    width: 50%;
    margin-bottom: 60px;
    line-height: 30px;

    color: var(--font-color);
}

#recommandation article h5{
    text-transform: uppercase;
    font-size: 1.1em;
}

#recommandation article a {
    color: var(--font-color);
    text-decoration: none;
}

#recommandation article a:hover {
    text-decoration: underline;
}