/* INITIALISATION */

:root {
    --main-color: #009cb0;
    --dark-color: #002429;
    --font-color: #222735;
}

*:not(ul), :before, :after {
    margin: 0;
    padding: 0;
}

*, :before, :after {
    box-sizing: border-box;
}

body {
    background-color: #ECECEC;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 70%;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/* HEADER -> IMG Profil + Nom + Titre */

header div {
    width: 30%;

    display: flex;
    justify-content: center;

    background-color: var(--main-color);
}

header img {
    width: 180px;
    margin: 30px auto;

    border-radius: 50%;
    border: 4px solid #00838F;
}

header section {
    width: 70%;

    background-color: #FFFFFF;

    padding: 60px 0 0 30px;
}

header h1 {
    font-weight: 300;
    font-size: 60px;
    text-transform: uppercase;
}

.distinct {
    font-weight: normal;
    color: var(--main-color);
}

header h4 {
    color: var(--font-color);
    font-size: 20px;
    line-height: 30px;
}

header h4 u {
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px solid var(--main-color);
}

/* ASIDE */

aside {
    background-color: var(--main-color);

    align-items: center;
    justify-content: space-between;

    width: 30%;
    padding: 20px 0;
}

aside section {
    width: 100%;

    color: var(--font-color);
}

aside section h3 {

    width: 100%;
    padding: 7px 0;
    font-size: 24px;

    background-color: var(--dark-color);
    color: var(--main-color);
    text-align: center;

    text-transform: uppercase;
}

/* SECTION CONTACT */

aside section#contact address {    
    font-size: 15px;
    font-style: normal;
    font-weight: 600;

    padding: 15px 35px;
}

aside section#contact address div {
    margin: 10px 0;
}

aside section#contact address div a {
    text-decoration: none;
    color: var(--font-color);
}

aside section#contact address div :hover {
    text-decoration: underline;
}

/* SECTION ABOUT */

aside section#about p {
    margin: 35px;

    text-align: justify;

    font-size: 14px;
    letter-spacing: 1.3px;
    line-height: 20px;
}

/* SECTION HOBBIES */

aside section#hobbies > div {
    margin: 35px 35px 20px 35px;
    justify-content: space-around;
}

aside section#hobbies > div > div {
    border: 2px solid black;
    border-radius: 50%;
    padding: 8px;

    display: flex;
    align-self: center;
    justify-content: center;
}

aside section#hobbies > div > div:first-of-type {
    padding: 10px 5px;
}

aside section#hobbies > div > div:first-of-type img{
    width: 50px;
}

aside section#hobbies > div > div img{
    width: 40px;
}

/* MAIN CONTENT */

main {
    width: 70%;
    background-color: #fff;

    padding-right: 30px;
    padding-left: 50px;
}

main .section-title {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--main-color);

    color: var(--main-color);

    align-items: center;
}

main .section-title img{
    width: 45px;
}

main .section-title h3 {
    color: #000000;
    text-transform: uppercase;
    font-size: 27px;

    margin-left: 30px;
}

/* FORMATION  & EXPERIENCE */

main .section-content {
    color: var(--font-color);
    margin-bottom: 50px;
}

main .section-content div.bloc {
    margin-top: 30px;
}

main .section-content div.bloc img {
    width: 12px;
    display: flex;
    align-self: flex-start;
}

main .section-content div.bloc:first-of-type::before {
    content: "";
}

main .section-content div.bloc i {
    color: var(--main-color);
    margin-left: -40px;
    margin-right: 25px;
}

main .section-content div.bloc::before {
    content: "\2022";
    color: var(--main-color);
    width: 40px;
    font-size: 36px;
    margin-top: -12px;
}

main .section-content ul {
    list-style-type: none;
}

main .section-content div.bloc div:nth-of-type(1) {
    width: 40%;
}

main .section-content div.bloc div:nth-of-type(2) {
    width: 50%;
}

main .section-content h4 {
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 20px;
}

main .section-content h5 {
    margin: 10px 0;
    font-size: 17px;
    font-weight: normal;
}

main .section-content p {
    margin-bottom: 10px;
    font-size: 17px;
}

/* RECOMMANDATION */

#recommandation .section-title {
    margin-bottom: 30px;
}

#recommandation div.bloc {
    width: 50%;
    margin-bottom: 60px;
    line-height: 30px;

    color: var(--font-color);
}

#recommandation div.bloc h5{
    text-transform: uppercase;
    font-size: 18px;
}

#recommandation div.bloc address {
    font-style: normal;
}

#recommandation div.bloc a {
    color: var(--font-color);
    text-decoration: none;
}

#recommandation div.bloc a:hover {
    text-decoration: underline;
}

/* RESPONSIVE */

/* Breakpoint */

@media (min-width: 961px) and (max-width: 1230px){
    .container {
        width: 90%;
    }
}

/* Breakpoint */

@media (max-width: 960px){
    .container {
        width: 100%;
    }
}

/* Breakpoint */

@media (max-width: 910px){
    .container header {
        flex-direction: column;
    }

    .container header section, .container header div{
        width: 100%;
        margin: auto;
    }

    header div{ 
        height: 100px;
        background-color: #FFFFFF;
    }

    header img{ 
        position: absolute;
        z-index: 2;

        margin: 0;
    }

    header section { 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 30px 10px 30px;

        background-color: var(--main-color);
    }

    .distinct {
        color: #FFFFFF;
    }
    
    header h4 u {
        border-bottom: 2px solid #FFFFFF;
    }

    .container > div.row {
        flex-direction: column;
    }

    .container aside {
        width: 100%;
    }

    aside section#contact address{
        justify-content: space-between;
        flex-flow: row wrap;
    }

    aside section#contact address div{
        margin-left: 10px;
        margin-right: 10px;
    }

    .container main {
        width: 100%;
        padding-top: 30px;
    }

}

/* Breakpoint */

@media (max-width: 630px){

    main {
        padding: 30px 10px 0 10px;
    }

    main .section-content div.bloc.row {
        flex-direction: column;
        margin-top: 70px;
    }

    main .section-content div.bloc.row div {
        width: 100%!important;
    }

    main .section-content div.bloc::before {
        content: "";
    }

}

/* Breakpoint */

@media (max-width: 490px){

    main section#recommandation div:last-child.row {
        flex-direction: column;
    }

    main section#recommandation div:last-child.row div.bloc {
        width: 100%;
    }

    header section { 
        padding: 100px 0 10px 0;
    }

}

/* Breakpoint */

@media (max-width: 360px){

    main section .section-title img {
        width: 30px;
    }

}

@media (min-width: 360px) and (max-width: 489px){

    main section .section-title h3 {
        width: 25px;
    }

}


@media (min-width: 340px) and (max-width: 359px){

    main section .section-title h3 {
        width: 20px;
    }

}

@media (min-width: 321px) and (max-width: 339px){

    main section .section-title h3 {
        width: 20px;
        margin-left: 20px;
    }

    header section h1 {
        text-align: center;
    }

}

@media (max-width: 320px){

    header section h1 {
        text-align: center;
    }

    main section .section-title h3 {
        margin-left: 5px;
    }

}