/* INITIALISATION */

:root {
    --main-color: #00ACC1;
    --bg-color: #002429;
}

body, html, *:not(ul) {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #ECECEC;
}

.container {
    width: 70%;
    margin: 0 auto 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/* ASIDE */

aside {
    background-color: var(--main-color);

    align-items: center;

    width: 30%;
}

aside > img {
    width: 200px;
    border-radius: 50%;
    border: 3px solid #00838F;
}

aside section {
    width: 100%;
}

aside section h3 {

    width: 100%;

    background-color: var(--bg-color);
    color: var(--main-color);
    text-align: center;

    text-transform: uppercase;
}

/* CONTENU PRINCIPAL*/

main {
    width: 70%;
    background-color: #fff;
}

main header h1 {
    font-weight: normal;
}

main header h4 {
    color: var(--bg-color);
}

main header h4 u {
    text-decoration-color: var(--main-color);
}

main .section-title {
    border-bottom: 2px solid var(--main-color);
}

.distinct {
    font-weight: 500;
    color: var(--main-color);
}